<% layout('/layouts/boilerplate') -%>
<style>
  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
  }
  .error-box {
    min-width: 350px;
    max-width: 600px;
    width: 90%;
    text-align: center;
  }
</style>

<div class="container error-container">
  <div class="alert alert-secondary error-box" role="alert">
    <h3 class="alert-heading pt-2"><%= message %></h3>
  </div>
</div>
